---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us - Huntgame" content="About Us - Huntgame">
  <Header />
  <main
    class="py-7 pb-16 lg:pb-40 space-y-1.5 lg:space-y-2 text-sm lg:text-lg font-bold px-7 md:px-14 lg:px-52"
  >
    <h3>About Us</h3>
    <p>
      Welcome to Huntgame, the trailblazing company behind the Huntgame app,
      where entertainment, relationships, and matchmaking come together to
      create extraordinary experiences. Huntgame is not just a platform; it's a
      community where people connect, explore, and find love in ways that suit
      their unique desires and aspirations.
    </p>
    <h3>Our Mission</h3>
    <p>
      At Huntgame, our mission is to transform the landscape of relationships by
      offering a safe, engaging, and inclusive platform where individuals can
      discover meaningful connections. We believe in the power of choice and are
      committed to empowering our users to find exactly what they're looking
      for—whether it’s a deep relationship, a casual connection, or something in
      between.
    </p>
    <h3>Our Vision</h3>
    <p>
      We envision a world where everyone has the freedom to connect in their own
      way, without boundaries or limitations. By harnessing advanced technology
      and fostering a supportive community, we aim to make the process of
      finding love or companionship both exciting and fulfilling.
    </p>
    <h3>Our Product: Huntgame App</h3>
    <ul class="list-disc">
      The Huntgame app is more than just a matchmaking tool; it’s a vibrant
      space where you can find your perfect match, whatever that means to you.
      With Huntgame, you can:
      <li class="ml-5">
        Explore Diverse Connections: Whether you’re looking for a long-term
        relationship, a fun date, or just someone to talk to, our app caters to
        all your needs.
      </li>
      <li class="ml-5">
        User-Friendly Experience: Our app is designed for ease of use, ensuring
        a seamless and enjoyable experience for all users.
      </li>
      <li class="ml-5">
        Safe and Secure: We prioritize your safety and privacy with top-notch
        security measures to protect your personal information.
      </li>
      <li class="ml-5">
        Inclusive Community: Join a diverse community that celebrates all forms
        of connection and fosters respect and understanding.
      </li>
    </ul>
    <ul class="list-disc">
      Our Values <li class="ml-5">
        Inclusivity: We welcome everyone, regardless of background or
        orientation, promoting a culture of respect and acceptance.
      </li>
      <li class="ml-5">
        Innovation: We continuously improve our platform to provide the best
        features and user experience in the matchmaking industry.
      </li><li class="ml-5">
        Empowerment: We empower our users to take control of their relationship
        journey and create connections that are meaningful to them.
      </li><li class="ml-5">
        Integrity: We operate with honesty and transparency, ensuring that our
        users can trust our platform to deliver a reliable and secure
        experience.
      </li>
    </ul>
    <h3>Join Us</h3>
    <p>
      Join Huntgame and be part of a dynamic community where you can discover
      the connections that matter most to you. Explore the possibilities with
      Huntgame today.
    </p>
    <p>
      For more information, feel free to contact us at hello@huntgame.com or
      +234 81 2673 9434.
    </p>
  </main>
  <Footer />
</Layout>
