---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<Layout
  title="End User Agreement - Huntgame"
  content="End User Agreement - Huntgame"
>
  <Header />
  <main
    class="py-7 pb-16 lg:pb-40 text-sm font-bold px-7 md:px-14 lg:px-52 lg:pt-28 lg:text-lg space-y-2 roboto"
  >
    <h1 class="pb-4 text-base lg:pb-8">
      HuntGame End User License Agreement (EULA)
    </h1>
    <h3>Introduction</h3>
    <p>
      This End User License Agreement ("Agreement") is a legal agreement between
      you ("User" or "you") and HuntGame ("Company," "we," "us," or "our")
      concerning your use of the HuntGame app ("App"). By downloading,
      installing, or using the App, you agree to be bound by the terms of this
      Agreement.
    </p>
    <h3>1. Scope of License</h3>
    <p>
      The Company grants you a limited, non-exclusive, non-transferable,
      revocable license to use the App for personal, non-commercial use on any
      Apple-branded products that you own or control and as permitted by the
      Usage Rules set forth in the App Store Terms of Service.
    </p>
    <h3>2. Restrictions</h3>
    <p>You agree not to:</p>
    <ul class="list-disc">
      <li class="ml-5 md:ml-6">
        Use the App for any commercial purpose or in any manner not expressly
        permitted by this Agreement.
      </li>
      <li class="ml-5 md:ml-6">
        Decompile, reverse engineer, disassemble, attempt to derive the source
        code of, modify, or create derivative works of the App or any part
        thereof.
      </li>
      <li class="ml-5 md:ml-6">
        Transfer, redistribute, or sublicense the App and, if you sell your
        Apple-branded device to a third party, you must remove the App from the
        device before doing so.
      </li>
      <li class="ml-5 md:ml-6">
        Use the App in any way that could damage, disable, overburden, or impair
        our servers or networks.
      </li>
    </ul>
    <h3>3. Maintenance and Support</h3>
    <p>
      The Company is solely responsible for providing any maintenance and
      support services with respect to the App, as specified in this Agreement
      or as required under applicable law. Apple has no obligation to furnish
      any maintenance and support services with respect to the App.
    </p>
    <h3>3. Maintenance and Support</h3>
    <p>
      The Company is solely responsible for providing any maintenance and
      support services with respect to the App, as specified in this Agreement
      or as required under applicable law. Apple has no obligation to furnish
      any maintenance and support services with respect to the App.
    </p>
    <h3>4. Warranty</h3>
    <p>
      The Company disclaims all warranties about the App to the fullest extent
      permitted by law. To the extent any warranty exists under law that cannot
      be disclaimed, the Company, not Apple, shall be solely responsible for
      such warranty.
    </p>
    <h3>5. Product Claims</h3>
    <p>
      The Company, not Apple, is responsible for addressing any claims by you or
      any third party relating to the App or your possession and/or use of the
      App, including, but not limited to: (i) product liability claims; (ii) any
      claim that the App fails to conform to any applicable legal or regulatory
      requirement; and (iii) claims arising under consumer protection or similar
      legislation.
    </p>
    <h3>6. Intellectual Property Rights</h3>
    <p>
      In the event of any third party claim that the App or your possession and
      use of the App infringes that third party’s intellectual property rights,
      the Company, not Apple, will be solely responsible for the investigation,
      defense, settlement, and discharge of any such intellectual property
      infringement claim.
    </p>
    <h3>7. Legal Compliance</h3>
    <p>
      You represent and warrant that (i) you are not located in a country that
      is subject to a U.S. Government embargo, or that has been designated by
      the U.S. Government as a "terrorist supporting" country; and (ii) you are
      not listed on any U.S. Government list of prohibited or restricted
      parties.
    </p>
    <h3>8. Developer Name and Address</h3>
    <p>
      If you have any questions, complaints, or claims with respect to the App,
      please contact us at:
    </p>
    <div class="">
      <p>Phone: +234 916 794 8683</p>
      <p>Email: info@huntgameshow.com</p>
    </div>
    <h3>9. Third Party Terms of Agreement</h3>
    <p>
      You must comply with applicable third-party terms of agreement when using
      the App, e.g., your wireless data service agreement.
    </p>
    <h3>10. Third Party Beneficiary</h3>
    <p>
      Apple, and Apple's subsidiaries, are third-party beneficiaries of this
      Agreement, and upon your acceptance of this Agreement, Apple will have the
      right (and will be deemed to have accepted the right) to enforce this
      Agreement against you as a third-party beneficiary thereof.
    </p>
    <h3>11. Termination</h3>
    <p>
      This Agreement is effective until terminated by you or the Company. Your
      rights under this Agreement will terminate automatically if you fail to
      comply with any of its terms.
    </p>
    <h3>12. Governing Law</h3>
    <p>
      This Agreement is governed by the laws of Your Country/State, excluding
      its conflicts of law principles.
    </p>
    <p class="pt-5">
      By using the HuntGame app, you acknowledge that you have read, understood,
      and agree to be bound by this Agreement.
    </p>
  </main>
  <Footer />
</Layout>
