---
import { Image } from "astro:assets";

import test1 from "../assets/testimonial-1.jpg";
// import test1 from "../assets/testimonial-1.jpg";
import test2 from "../assets/precious_and_mich.jpg";
import test3 from "../assets/max_and_ella.jpg";
---

<section
  class="bg-[#D20F89] px-7 sm:px-14 lg:px-24 py-20 md:py-36 text-white"
  aria-label="testimonials"
>
  <p
    class="bowlby-one-sc text-[22px] sm:text-3xl sm:mb-8 lg:text-[50px] lg:leading-snug md:px-[84px] md:w-4/5"
  >
    THESE COUPLES FOUND LOVE, IT’S YOUR TURN.
  </p>
  <div class="relative" data-carousel>
    <button
      class="bg-[#3A2323] rounded-full size-14 hidden left-1 md:left-0 md:flex items-center justify-center absolute rotate-180 top-1/2 -translate-y-1/2"
      data-carousel-button="prev"
      ><svg
        width="12"
        height="21"
        viewBox="0 0 12 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 18.9304L1.82005 20.7891L12 10.3933L1.82005 -0.00237083L0 1.85626L8.3599 10.3933L0 18.9304Z"
          fill="white"></path>
      </svg>
    </button>
    <button
      data-carousel-button="next"
      class="bg-[#3A2323] rounded-full size-14 hidden right-1 md:flex items-center justify-center absolute md:right-0 top-1/2 -translate-y-1/2"
      ><svg
        width="12"
        height="21"
        viewBox="0 0 12 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 18.9304L1.82005 20.7891L12 10.3933L1.82005 -0.00237083L0 1.85626L8.3599 10.3933L0 18.9304Z"
          fill="white"></path>
      </svg>
    </button>
    <ul data-slides class="md:px-[84px]">
      <li
        class="transition-opacity bg-white rounded-[10px] md:rounded-[40px] flex-col md:flex-row inset-0 hidden slide"
        data-active
      >
        <Image
          alt="peter and vivian found love"
          src={test1}
          class="w-full rounded-t-[10px] aspect-square object-cover md:aspect-[6/5] md:w-1/2 md:rounded-l-[40px] md:rounded-tr-none object-[100%_25%]"
        />
        <div
          class="bg-white text-black pb-[75px] pt-5 px-16 rounded-b-[10px] md:rounded-[40px] md:w-1/2 md:flex flex-col justify-center items-start"
        >
          <h5 class="text-center text-xl bowlby-one-sc">Peter and vivian</h5><p>
            We met at huntgame and the rest is history, all thanks to huntgame
            show.
          </p>
        </div>
      </li>
      <li
        class="transition-opacity bg-white rounded-[10px] md:rounded-[40px] flex-col md:flex-row inset-0 hidden slide"
      >
        <Image
          alt="peter and vivian found love"
          src={test3}
          class="w-full rounded-t-[10px] aspect-square object-cover md:aspect-[6/5] md:w-1/2 md:rounded-l-[40px] md:rounded-tr-none object-[100%_25%]"
        />
        <div
          class="bg-white text-black pb-[75px] pt-5 px-16 rounded-b-[10px] md:rounded-[40px] md:w-1/2 md:flex flex-col justify-center items-start"
        >
          <h5 class="text-center text-xl bowlby-one-sc">Max and Ella</h5><p>
            We cannot tell our love story without mentioning huntgame.
          </p>
        </div>
      </li>
      <li
        class="transition-opacity bg-white rounded-[10px] md:rounded-[40px] flex-col md:flex-row inset-0 hidden slide"
      >
        <Image
          alt="peter and vivian found love"
          src={test2}
          class="w-full rounded-t-[10px] aspect-square object-cover md:aspect-[6/5] md:w-1/2 md:rounded-l-[40px] md:rounded-tr-none object-[100%_20%]"
        />
        <div
          class="bg-white text-black pb-[75px] pt-5 px-16 rounded-b-[10px] md:rounded-[40px] md:w-1/2 md:flex flex-col justify-center items-start"
        >
          <h5 class="text-center text-xl bowlby-one-sc">Precious and Mich</h5><p
          >
            We met at huntgame and the rest is history, all thanks to huntgame
            show.
          </p>
        </div>
      </li>
    </ul>
    <div class="flex gap-2 items-center justify-center text-4xl mt-3 md:mt-12">
      <button class="bull" data-carousel-index="0" data-idx>&bull;</button>
      <button class="bull" data-carousel-index="1">&bull;</button>
      <button class="bull" data-carousel-index="2">&bull;</button>
    </div>
  </div>
</section>
<script is:inline>
let touchstartX = 0;
let touchendX = 0;
const buttons = document.querySelectorAll("[data-carousel-button]");
const indexes = document.querySelectorAll("[data-carousel-index]");
const slides = document.querySelector("[data-slides]");
function switchImg(offset = 1) {
  const activeSlide = slides?.querySelector("[data-active]");
  const activeCarousel = document?.querySelector("[data-idx]");
  let newIndex = [...slides?.children].indexOf(activeSlide) + offset;
  if (newIndex < 0) newIndex = slides?.children.length - 1;
  if (newIndex >= slides?.children.length) {
    newIndex = 0;
  }
  slides.children[newIndex].dataset.active = true;
  indexes[newIndex].dataset.idx = true;
  delete activeSlide.dataset.active;
  delete activeCarousel.dataset.idx;
}
function checkDirection() {
  console.log({ touchendX, touchstartX });
  if (touchendX - touchstartX < -20) switchImg(-1);
  if (touchendX - touchstartX > 20) switchImg(1);
}

// setInterval(switchImg, 3000);

slides.addEventListener("touchstart", (e) => {
  touchstartX = e.changedTouches[0].screenX;
});
slides.addEventListener("touchend", (e) => {
  touchendX = e.changedTouches[0].screenX;
  checkDirection();
});
indexes.forEach((index) => {
  index.addEventListener("click", () => {
    const activeSlide = slides?.querySelector("[data-active]");
    const activeCarousel = document?.querySelector("[data-idx]");
    let activeIndex = [...slides?.children].indexOf(activeSlide);
    const carouselIndex = +index.dataset.carouselIndex;

    if (activeIndex == carouselIndex) {
      return;
    } else {
      slides.children[carouselIndex].dataset.active = true;
      indexes[carouselIndex].dataset.idx = true;
      delete activeSlide.dataset.active;
      delete activeCarousel.dataset.idx;
    }
  });
});
buttons.forEach((button) => {
  button.addEventListener("click", () => {
    const offset = button.dataset.carouselButton === "next" ? 1 : -1;
    switchImg(offset);
  });
});
</script>
