<section
  class="pt-4 md:pt-16 bg-[#854B4D] min-h-[calc(100vh-7rem)] relative overflow-hidden text-white text-center z-10 flex items-center justify-center"
>
  <img
    src="/hero_bg.png"
    alt="nons miraj"
    class="bg-cover absolute left-1/2 -translate-x-1/2 z-0 bottom-0 md:bottom-auto h-full w-auto block"
  />
  <div class="">
    <p
      class="text-2xl sm:text-4xl lg:text-[70px] mb-4 lg:mb-14 z-10 relative bowlby-one-sc px-7 lg:leading-tight"
    >
      WELCOME TO HUNTGAME
    </p>
    <p
      class="text-sm sm:text-lg lg:text-4xl z-10 relative mb-10 md:mb-20 bowlby-one px-7"
    >
      WHERE WE HELP TWO STRANGERS FIND LOVE.
    </p>
    <p class="bowlby-one md:text-[1.375rem] z-10 relative mb-5">Step: 1</p>
    <span
      class="flex gap-3 md:gap-9 justify-center items-center px-4 pb-16 relative z-10"
    >
      <a
        class="max-w-72"
        href="https://download.huntgameshow.com/download.html"
        target="_blank"
      >
        <img
          src="/play-store.png"
          alt="link to hunt game app on play store"
          class="hidden lg:block"
        />
        <img
          src="/playstore_mobile.png"
          alt="link to hunt game app on play store"
          class="lg:hidden"
        />
      </a>
      <a
        class="max-w-72"
        href="https://apps.apple.com/ng/app/huntgame/id6502562121"
        target="_blank"
        ><img
          src="/app-store.png"
          alt="link to hunt game app on app store"
          class="hidden lg:block"
        />
        <img
          src="/appstore_mobile.png"
          alt="link to hunt game app on app store"
          class="lg:hidden"
        /></a
      >
    </span>
    <p class="bowlby-one md:text-[1.375rem] z-10 relative mb-5">Step: 2</p>
    <a
      href="https://subscription.huntgameshow.com"
      target="_blank"
      class="flex w-fit gap-2 md:gap-6 mb-14 rounded-3xl h-16 md:h-20 bg-[#D20F89] text-white md:text-[1.375rem] px-5 md:px-8 mx-auto md:rounded-[50px] xl:h-24 z-10 relative items-center"
      ><span class="md:text-3xl">₦</span>
      <span>Subscribe with naira bank transfer</span></a
    >
  </div>
</section>
