<section
  class="pt-4 md:pt-16 bg-[#854B4D] min-h-[calc(100vh-7rem)] relative overflow-hidden text-white text-center z-10 flex items-center justify-center"
>
  <img
    src="/hero_bg.png"
    alt=""
    class="bg-cover absolute left-1/2 -translate-x-1/2 z-0 bottom-0 md:bottom-auto h-full w-auto block"
  />
  <div class="">
    <p
      class="text-2xl lg:text-[70px] mb-4 lg:mb-14 z-10 relative bowlby-one-sc px-7"
    >
      WELCOME TO HUNTGAME
    </p>
    <p
      class="text-sm lg:text-[40px] z-10 relative mb-10 md:mb-20 bowlby-one px-7"
    >
      WHERE WE HELP TWO STRANGERS FIND LOVE.
    </p>
    <span
      class="flex gap-3 md:gap-9 justify-center items-center px-4 pb-16 relative z-10"
    >
      <a
        class="max-w-72"
        href="https://apkpure.com/group/thenewhuntersapp.huntersapp.hunt"
        target="_blank"
      >
        <img
          src="/play-store.png"
          alt="link to hunt game app on play store"
          class="hidden lg:block"
        />
        <img
          src="/playstore_mobile.png"
          alt="link to hunt game app on play store"
          class="lg:hidden"
        />
      </a>
      <a
        class="max-w-72"
        href="https://apps.apple.com/ng/app/huntgame/id6502562121"
        target="_blank"
        ><img
          src="/app-store.png"
          alt="link to hunt game app on app store"
          class="hidden lg:block"
        />
        <img
          src="/appstore_mobile.png"
          alt="link to hunt game app on app store"
          class="lg:hidden"
        /></a
      >
    </span>
  </div>
</section>
